body {
}

.page-header {
    margin-top: 0px
}

#header-left {
    padding-left: 10px;
}

#content {
    margin: 2em;
}

.message-display-pre {
    border-style: none;
    background-color: inherit;
    border: 0;
    font-size: 50px;
}

.offscreen {
    position: absolute;
    left: -999em;
}

#copyPop {
	display: none;
	font-weight: bold;
}

#badPass {
	display: none;
	font-weight: bold;
	margin-bottom: 1px;
	height: 40px;
	line-height: 40px;
	padding: 10px 20px;
}
