body {
}

.page-header {
    margin-top: 0px
}

#header-left {
    padding-left: 10px;
}

#content {
    margin: 2em;
}

.message-display-pre {
    border-style: none;
    background-color: inherit;
    border: 0;
    font-size: 50px;
}
